body {
    padding: 10px;
}

.listing-image {
    width : 50%;
    display : block;
    height: auto;
    max-height: 500px; 
}

.flex-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-container * {
    text-align:center;
}

.flex-item {
    width: 33%; 
    height: 30%;

    min-width: 250px;
    min-height: 300px;

    max-height: 500px;

    border: 2px solid lightgrey;
    border-radius: 10px;
    margin: 15px;

    overflow:auto;
}

.listing-title{
    font: 20px bold black;
    margin: 10px;
}

.listing-image , .listing-image> img{
    max-height: 300px;
    width: auto;
    height:auto;
}

.listing-price {
    text-decoration:underline;
    margin: 5px;
}

.listing-info {
    height: 20%; 
    width: 100%; 
    overflow:auto;
    margin:5px;
    margin-top:15px;
}
