




<div class = "flex-container"> 

{% for listing in listings %}

     

        <div class = "flex-item">   
            <a href = " {% url 'listing' listing.id %} "> 
            <div class = 'listing-title' >  
                {{ listing.title}}
            </div>
            
            <div class = 'listing-image'> 
                <img src = "{{listing.image_url}}"  alt = "Image not found or could not load" >  
            </div>

            <div class = 'listing-price'> 
                Current price:    Number of Bids: $  {{ listing.bids.all }}
            </div>

            <div class = 'listing-info'>
                Description: {{ listing.description}}
                <p>
                    {% if listing.active %}
                        Active Listing
                    {% else %}
                        Inactive Listing  
                    {% endif %}
                </p>
            </div>

            </a>
        </div>
  

    {% if not message and empty %}
    <div> 
        {{ empty_message }}
    </div>
    {% endif %}   



{% endfor  %}

</div>





