




<div class = "flex-container"> 

{% for listing in listings %}

     

        <div class = "flex-item">   
            <a href = " {% url 'listing' listing.id %} "> 
            <div class = 'listing-title' >  
                {{ listing.title}}
            </div>
            
            <div class = 'listing-image'> 
                <img src = "{{listing.image_url}}"  alt = "Image not found or could not load" >  
            </div>

            <div class = 'listing-price'> 
                {% include 'auctions/listing_price.html' %}
                
                Number of Bids: {{listing.number_bids}}
            </div>

            <div class = 'listing-info'>
                Description: {{ listing.description}}
                <p>
                    {% if listing.active %}
                        <em> Active Listing </em>
                    {% else %}
                        <em>  Inactive Listing    </em>
                    {% endif %}
                </p>
            </div>

            </a>
        </div>
  
    {% if message %}
        <div>   {{message}}    </div>
      
    {% endif %}

    {% empty %}
        <div> 
            {{ empty_message }} 
        </div>
  
    



{% endfor  %}

</div>





